.featureItem {
    width: 320px;
}

.featureBottomText {
    font-variation-settings: 'wght' 400;
    font: 13px/15px var(--font-family), sans-serif;
    text-align: center;
    color: var(--white-color);
}

.featureLink {
    border-bottom: 1px dashed var(--blue-color);
    color: var(--blue-color);
    display: inline-block;
    margin-left: 3px;
}

.card {
    background: #F2F2F2;
    border: 4px solid #1698D9;
    border-radius: 12px;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 60%, 0 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 14px;
    min-height: 480px;
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
}

.card:focus,
.card:active,
.card:hover {
    border: 4px solid #E52E7A;
}

.cardPicture {
    bottom: -35px;
    left: 0;
    position: absolute;
}

.cardTop {
    padding: 20px 50px;
}

.cardBottomRight {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.cardBottom {
    align-items: center;
    background: var(--blue-color);
    border-radius: 50%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    font-variation-settings: 'wght' 400;
    font: 42px/22px var(--font-family), sans-serif;
    justify-content: center;
    height: 100px;
    padding: 5px;
    position: relative;
    width: 100px;
    z-index: 2;
}

.cardTopText {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
}

.cardTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.cardSubTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.cardDesc {
    color: #666666;
    font-size: 14px;
    line-height: 16px;
}

.cardSize {
    margin-bottom: 10px;
}

.disabled .card {
    cursor: not-allowed;
}

.disabled .featureBottomText {
    color: #FFFF66;
}

.disabled .cardTop {
    opacity: 0.15;
}

.disabled .cardBottom {
    background: #B3B3B3;
}

.disabled .cardPicture {
    opacity: 0.6;
}

.disabled .card {
    border: 4px solid #B3B3B3;
    filter: grayscale(.5);
}

.active .card {
    border: 4px solid #E52E7A;
}
